<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>ERROR PAGE</title>
    <style>
      body {
        text-align: center;
      }
      .error-message {
        position: relative;
        top: 200px;
        font-size: 80pt;
        font-weight: bold;
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <p class="error-message"><%= status %> <%= message %></p>
  </body>
</html>
