<!DOCTYPE html>
<html lang="ko">
<head>
  <link type="text/css" rel="stylesheet" href="/css/list.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/login.js"> </script>
  <title>로그인</title>
</head>
<body>
  <div class="wrap">
    <div class="contents-main">
      <div class="contents-container">
        <div class="contents-header">
          <div class="contents-balence">로그인</div>
        </div>
        <div class="line"></div>
        <form id="login">
          <div class="input-email">
            <label for="e-mail">이메일 : </label>
            <input type="email" id="member_id" placeholder="이메일을 적어주세요 (예시: goodnight@gmail.com)">
          </div>
          <div class="input-pw">
            <label for="password">비밀번호 : </label>
            <input type="password" id="member_pw" placeholder="비밀번호를 적어주세요 (6글자 이상)"><br><br>
          </div>
          <button type="button" onclick="clickLogin()">로그인하기</button><br><br>
          <button type="button" onclick="moveSignUp()">회원가입</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>