<!DOCTYPE html>
<html lang="ko">
  <head>
    <link type="text/css" rel="stylesheet" href="/css/login.css" />
    <script src="/js/login.js"></script>
    <title>로그인</title>
  </head>
  <body>
    <div class="wrap">
      <div class="contents-main">
        <div class="contents-container">
          <div class="contents-header">
            <div class="contents-login">로그인</div>
          </div>
          <div class="line"></div>
          <div class="contents-align">
            <h3>이메일</h3>
            <input type="email" id="member_id" placeholder="이메일을 적어주세요 (예시: goodnight@gmail.com)" />
            <h3>비밀번호</h3>
            <input type="password" id="member_pw" placeholder="비밀번호를 적어주세요 (6글자 이상)" />
            <div class="button-align">
              <button class="login-button" onclick="clickLogin()">로그인하기</button>
              <button class="join-button" onclick="moveJoin()">회원가입</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
