<!DOCTYPE html>
<html lang="ko">
<head>
  <link type="text/css" rel="stylesheet" href="/css/signUp.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/signup.js"> </script>
  <title>회원가입</title>
</head>
<body>
  <div class="wrap">
    <div class="contents-main">
      <div class="contents-container">
        <div class="contents-header">
          <div class="contents-balence">회원가입</div>
        </div>
        <div class="line"></div>
        <form id="signUp">
          <div class="input-email">
            <label for="e-mail">이메일 : </label>
            <input type="email" id="member_id" placeholder="이메일을 적어주세요 (예시: goodnight@gmail.com)">
            <button type="button" onclick="clickCheckId()">아이디 중복 체크</button><br><br>
          </div>
          <div class="input-pw">
            <label for="password">비밀번호 : </label>
            <input type="password" id="member_pw" placeholder="비밀번호를 적어주세요 (6글자 이상)"><br><br>
          </div>
          <div class="input-name">
            <label for="name">이름 : </label>
            <input type="text" id="member_name" placeholder="이름을 적어주세요 (10글자 미만)"><br><br>
          </div>
          <div class="input-phone-number">
            <label for="name">핸드폰 번호 : </label>
            <input type="text" id="phone_number" placeholder="핸드폰 번호를 적어주세요 (예시: 010-1234-1234)"><br><br>
          </div>
          <div class="input-balance">
            <label for="balance">잔액 : </label>
            <input type="number" id="balance" placeholder="잔액을 적어주세요 (예시: 50000)"><br><br>
          </div>
          <button type="button" onclick="clickSignUp()">회원가입하기</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>