.wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.contents-main {
  top: 100px;
  position: relative;
}

.contents-main .contents-container {
  width: 700px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
}

.contents-main .contents-container .contents-header {
  display: flex;
}

.contents-main .contents-container .contents-header .contents-update {
  width: 100%;
  font-size: 35pt;
  font-weight: bold;
  line-height: 45px;
  text-align: left;
  color: salmon;
  letter-spacing: 2px;
}

.contents-main .contents-container .line {
  width: 100%;
  height: 3px;
  background-color: #ccc;
  margin: 30px 0;
}

.date {
  text-align: right;
  font-size: 15pt;
  font-weight: bold;
}

.contents-align {
  width: 400px;
  margin: 40px auto;
}

.contents-align > div, label {
  font-size: 16pt;
  font-weight: bold;
  line-height: 50px;
}

.contents-item .contents-type {
  color: salmon;
  background: #eee;
  font-size: 12pt;
  font-weight: bold;
  border: 0;
}

input[type=text], input[type=number] {
  width: 98%;
  height: 40px;
  border-radius: 5px;
  font-size: 13pt;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
}

.radio-group {
  float: right;
}

input[type=radio], input[type=radio]:checked {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  margin-right: 0.2rem;
}

input[type=radio] {
  background-color: white;
  border: 2px solid #e27160;
}

input[type=radio]:checked {
  background: #e27160;
}

button {
  font-size: 14px;
  width: 100%;
  margin-top: 30px;
  border-radius: 2em;
  padding: 1em 1.8em;
  cursor: pointer;
  background: none;
  border: 1px solid;
  letter-spacing: 1px;
  color: salmon;
  border: salmon 1.5px solid;
  transition: 250ms ease-out;
}

button:hover,
button:focus {
  color: #fff;
  background: salmon;
}